#bottom-text-div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}

#login-form__actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 30px;
}

@media (max-width: 425px) {
  #login-form__actions {
    font-size: 0.9em;
  }
}

@media (max-width: 375px) {
  #login-form__actions {
    font-size: 0.8em;
  }
}
