/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
html,
body {
  margin: 0;
  padding: 0;
}

/* App base */
body {
  background-color: #181a1f;
  color: #dcdcdc;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Remove list styles */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Links */
a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out 0s;
}

a:hover {
  color: #7aa2f7;
}

/* Images */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Buttons & inputs */
button,
input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

/* Button pointer */
button {
  cursor: pointer;
}

/* Root app container */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
